.footer-super-container{
    position: relative;
    margin: 0;
    padding: 0;
}
.footer-main-container{
    width: 100%;
    position: absolute;
    background-color: #ac79df;
    height: 90vh;
    top: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-options{
   padding: 0rem 4rem;
   height: 6rem;
}

.footer-brand{
    float: left;
    line-height: 0;
}

.footer-brand>h2{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: black;
}

.footer-brand>p{
    font-family: 'Playfair Display', serif;
    color: black;
    padding-left: 4rem;
    font-size: 1.5rem;
}

.footer-other{
    display: flex;
    float:right;
}
.footer-other>p{
    font-family: 'Playfair Display', serif;
    padding: 2rem 1.5rem;
    text-transform: uppercase;
}

.footer-line{
    margin: 0 4rem;
    height: 0.1rem;
    margin-top: 2rem;
    background-color: rgb(80, 75, 75);
}

.copyright-options{
    padding: 2rem 4rem;
    color: black;
 }

 .footer-copyright{
    float: left;
}

.footer-copyright>*{
    font-size: 1.5rem;
}

.footer-social{
    display: flex;
    float:right;
}
.footer-social>*{
    margin: 0rem 1.5rem;
    font-size: 1.5rem;
}

.footer-image-container{
    position: absolute;
    /* left: 25%; */
    margin: 0;
    padding: 0 5rem;
    height:20rem;
    width: 100%;
}

.footer-image{
    height: 100%;
    width: 100%;
    background-image: url('https://c0.wallpaperflare.com/preview/131/457/166/apple-black-colorful-colors.jpg');
    background-color: rgb(105, 90, 90);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-position: center -18rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.footer-image>h1{
color: white;
font-weight: 600;
font-family: 'Playfair Display', serif;
font-size: 4rem;
}

.footer-image>button{
    margin-top: 1rem;
    border-color: white;
    width: 12rem;
    font-size: 1.5rem;
    color: white;
    transition:transform 0.2s;
}

.footer-image>button:hover{
    transform: scale(1.1);
}